ui = true

storage "file" {
  path = "{{ vault_data_path }}"
}

listener "tcp" {
  address       = "{{ ansible_default_ipv4.address }}:{{ vault_port }}"
{% if vault_custom_tls_crt is defined and vault_custom_tls_key is defined %}
  tls_cert_file = "{{ vault_custom_tls_crt }}"
  tls_key_file = "{{ vault_custom_tls_key }}"
{% else %}
  tls_cert_file = "/opt/vault/tls/tls.crt"
  tls_key_file  = "/opt/vault/tls/tls.key"
{% endif %}
}

api_addr = "{{ ansible_default_ipv4.address }}:{{ vault_port }}"
